div, h3 {
    text-align: center;
}

h3 {
    background-color: lightgreen;
}

body {
    font-family: arial, helvetica, sans-serif;
}

a li {
    background-color: powderblue;
    transition: background-color 0.5s;
}

a li:hover {
    background-color: powderblue;
}
