div, h3 {
    text-align: center;
}

h3 {
    background-color: lightgreen;
}

body {
    font-family: arial, helvetica, sans-serif;
}

a {
    background-color: powderblue
    transition: background-color 0.5s;
}

li h4 a:hover {
    background-color: gold;
}
